<article class="post">
	<header class="post-head">
		<h2 class="post-title">
			<a href="http://www.fsqj.com/demo/index.php/archives/1/" title="欢迎使用 Typecho">欢迎使用 Typecho</a>
		</h2>
		<time datetime="2015-01-31" class="post-time">January 31, 2015</time>
	</header>
			<section class="post-entry">
		这是主题展示站，需要cookie支持。
本站寄存于 怀诺科技-香港电讯盈科机房 ，与之前万网香港主机同机房(由于案备原因万网已下架香港主机)。
联系客服说明通过本站看到购买可获优惠噢！
	</section>
	<footer class="post-footer clear">
		<span class="post-tags clear">
			<a href="http://www.fsqj.com/demo/index.php/category/default/">默认分类</a>							</span>
		<a class="post-readmore" href="http://www.fsqj.com/demo/index.php/archives/1/">阅读更多...</a>
	</footer>
</article>